<%= render "shared/header" %>

<div class="main">
  <div class="title-contents">
    <h1 class='service-title'>さあ、飛び出そう</h1>
    <p class='service-explain'>
      友達と感動のシェアを
    </p>
  </div>
</div>

<%= render "shared/footer" %>

