.post-contents-main {
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-color: rgb(241, 241, 219);
  overflow: scroll;
}

.public-lists {
  display: flex;
  position: fixed;
  right: 30px;
  top: 180px;
}

.public-list{
  width: 80px;
  text-align: center;
  margin-left: 20px;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  color: #FFFFFF;
  background-color: #3176D5;
}

.subtitle {
  margin-bottom: 50px;
}

.category-name {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.item-lists {
  width: 100%;
}

.img-user {
  margin: 0 0 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.list img {
  width: 450px;
  height: 320px;
}

.img-detail {
  width: calc(100vw - 540px);
  flex-direction: column;
  margin-left: 30px;
  border: 2px solid #3176D5;
  border-radius: 10px;
  padding: 10px;
}
.img-place {
  margin-bottom: 20px;
  overflow-y: scroll;
  border-bottom: 2px solid #3176D5;
}

.img-content {
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: scroll;
}

.img-comments {
  margin-left: 30px;
  padding: 10px;
  width: 33vw;
  border: 2px solid #3176D5;
  border-radius: 10px;
}

.img-comment {
  border-bottom: 2px solid #3176D5;
}
.good-answers{
  display: flex;
  margin-left: 50px;
  margin-bottom: 50px;
}
.good {
  margin-right: 50px;
}

